div.btn-group-left-right {
    margin: 5px 0px
}

div.btn-group-left-right button {
    float: left;
    width: 50%;
}

div.dir-buttons button {
    height: 65px;
}

@media (min-width: 992px) {
    .col-md-8 {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}
