<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=craneiotstorage;AccountKey=VjzhMrlHGCJv/70Ytpbrpe8HtTpxDC3fQ26B8STBjcJTZZoiwjG2kjlgLeEVWpFsnK8VPHaRkcsCCrh8qItkUg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>