<html>

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="Styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body ng-controller="appController as vm">
    <div class="menu-container">
        <div class="menu">
            <div class="title">
                <div class="letter T">T</div>
                <div class="letter NY">NY</div>
                <div class="letter C">C</div>
                <div class="letter name">Port Authority</div>
            </div>
            <div class="actions">
                <div class="action-items">
                    <div>
                        <span ng-if="vm.activePort != null" ng-bind="vm.activePort"></span>
                        <span ng-if="vm.activePort == null">No controller found.</span>
                        <span class="status" enabled="{{vm.activePort != null}}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="camera-options-container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Camera 1 - Boom
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Camera 1 - Boom</a>
            </div>
        </div>
    </div>
    <div class="camera-view-container">
        <div class="camera-view">
            <camera-control/>
        </div>
    </div>

    <div class="control-container">
        <div class="platform platform-cardinal">
            <div class="control-section">Platform</div>
            <div class="grid-item grid-item-north">
                <button class="operation" op="PlatformNorth">
                    <i class="fas fa-angle-up"></i>
                </button>
            </div>
            <div class="grid-item grid-item-west">
                <button class="operation" op="PlatformWest"><i class="fas fa-angle-left"></i></button>
            </div>
            <div class="grid-item grid-item-east">
                <button class="operation" op="PlatformEast"><i class="fas fa-angle-right"></i></button>
            </div>
            <div class="grid-item grid-item-south">
                <button class="operation" op="PlatformSouth"><i class="fas fa-angle-down"></i></button>
            </div>
        </div>
        <div class="platform platform-rotate">
            <div class="control-section">Platform Rotation</div>
            <button class="operation" op="CabCW"><i class="fas fa-redo"></i></button>
            <button class="operation" op="CabCCW"><i class="fas fa-undo"></i></button>
        </div>
        <div class="platform platform-rotate">
            <div class="control-section">Boom</div>
            <button class="operation" op="BoomUp">
                <i class="fas fa-arrow-up"></i>
            </button>
            <button class="operation" op="BoomDown">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
        <div class="platform platform-rotate">
            <div class="control-section">Hook</div>
            <button class="operation" op="HookUp">
                <i class="fas fa-arrow-up"></i>
            </button>
            <button class="operation" op="HookDown">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
        <div class="platform platform-rotate">
            <div class="control-section">Magnet</div>
            <button class="mag operation" active="{{vm.magOn}}" ng-click="vm.activateMagnet()">
                <i class="fas fa-bolt"></i>
            </button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="scripts/angular-touch.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
